body {
	font-family: 'Open Sans', sans-serif;

	background-color: #f5f9fc;
	padding-top: 100px;
	
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	button{
		width: fit-content;
		background:none;
		border:none;
		margin:0;
		padding:0;
		outline: none;
		cursor: pointer;
	}
	h1 {
		font-weight: 300;
	}
	.results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 5px;
		background: none;
	}
	.restore{
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
		font-weight:bold ;
		border:none;
		box-shadow: none;
		background-color:#f5f9fc;
	}

	.restore:hover{
		background-color:#f5f9fc;
	}
	
	.pageButtons{
		size: 20px;
		font-size: 40px;
		font-family: "Times New Roman", Times, serif;;
		text-align: center;
		margin-bottom: 14px;
	}
	

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	.star{
		cursor: pointer;
		width: fit-content;
		text-align:right;
		margin-right: 6px;
		font-size:40px;
	}
	
	.checkedStar{			
			color: orange;			  
	}

	.upperStar{
		float: right;
	}
	.pageArrows {
		text-decoration: none;
		display: inline-block;
		font-size: 40px;
	  }

	  .pageArrows:hover {
		background-color: #ddd;
		color: black;
	  }
	  
	  .previous {
		background-color: #f1f1f1;
		color: black;
		padding: 8px 16px;
	  }
	  
	  .next {
		background-color: #f1f1f1;
		color: black;
		padding: 8px 16px;
	  }
	  
	  .round {
		border-radius: 50%;
		padding: 20px 16px;
	  }
	  
	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover .hide {
				display: block;
				cursor: pointer;
			}
			td{
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 12px;
				background-color: #c5e6fe;
				
				border: 6px solid white;
			}


			.lable{
				color:black ;
				  font-family: Arial;
				  text-align: right;
				  padding: none;
				  float: right;
				  border: 100px thin;
				  font-size: 20px;
			}

			.seeMore{
				color: #3899ec;
				cursor: pointer;
				font-size: 15px;		
				font-weight: bold;
				float: left;
				background-color: #ffffff;
			}
			
			.seeMore:hover{
				background-color: white;
			}

			.hide{
				font-size: 16px;
				position: absolute;
				color: black;
  			    top: 8px;
   				right: 8px;
				display: none;
				background:none;
				border:none;
				box-shadow: none;
				margin-top: 5px;
				margin-right: 7px;
				font-weight: bold;
			}

			
			.title {
				
				margin: 30px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
				font-weight: bold;
			}
			
		
			.content-hidden{
				margin: 15px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
				line-height: 1.5em;
				max-height: 4.5em;
				overflow: hidden;
			}
			
			.content-fullView{
				margin: 15px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
				line-height: 1.5em;
				text-overflow: ellipsis;
				
			}

			footer {
				display: flex;
				justify-content: space-between;
				
				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}
			}
			
		}
	}
}
